.navbar-item[b-y5j8vh0ejy] {
    font-size: 16px;
    padding: 12px 16px;
    transition: 0.5s;
}

.navbar-item:hover[b-y5j8vh0ejy] {
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    color: #0074fd;
}

.navbar-item .fa-solid[b-y5j8vh0ejy] {
    font-size: 20px;
    margin-right: 5px;
}