@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="HandleSidebarToggle" />
            <h1>
                <i class="fa-solid fa-shield-dog wd-blue"></i>
                <span class="wd-blue">Watch<span class="wd-red">dog</span></span>
            </h1>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded" Style="background: none;">
        <RadzenPanelMenu>
            <div class="navbar-item">
                <i class="fa-solid fa-scale-unbalanced-flip"></i>
                <span>Economy</span>          
            </div>
            <RadzenPanelMenuItem Text="Economy" Path="economy">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Users" Icon="account_box" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <span  style="float: right;">
            🛠️&nbsp;&nbsp;by Evan Klein, Copyright 2025
        </span>
    </RadzenFooter>
</RadzenLayout>
<RadzenComponents @rendermode="InteractiveServer" />

@code {
    bool sidebar1Expanded = true;

    private void HandleSidebarToggle()
    {
        sidebar1Expanded = !sidebar1Expanded;
    }
}